@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a fairly simple application for keeping track of Smart Home devices, written by Andrew Metzger.</p>
