@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    208 E. College St.<br />
    Longview, TX 75601<br />
    <abbr title="Phone">P:</abbr>
    785-643-5648
</address>

<address>
    <strong>Hire me:</strong> <a href="mailto:AndrewMetzger@i-arman.com">AndrewMetzger@i-arman.com</a>
</address>
