@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>A privacy policy is probably overrated. This isn't intended to be run anywhere but locally, so your privacy is in your own hands.</p>
